.head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.freeBoardTable {
    width: 100%;
    margin-bottom: 20px;
}

.freeBoardTable thead {
    text-align: center;
}

.freeBoardLimit {
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
}

.buttonGroup {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

