header {
    padding: 20px !important;
    background-color: #fff;
    border-bottom: 1px solid #F0E4D7 !important;
}

.headerTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;
    height: 100px;
}

.title {
    font-size: 24px;
}

.buttonGrop {
    display: flex;
}

.buttonGroup button {
    margin-right: 10px;
    border: 1px solid #F0E4D7;
    background-color: lightyellow;
    padding: 10px 20px;
}

.buttonGroup button:last-child {
    margin-right: 0;
}

.navBar {
    padding: 0 100px;
}

.navBar ul {
    display: flex;
    justify-content: space-between;
}
