header {
  padding: 0 20px;
  background-color: #fff;
  border: 1px solid  #FCD742;
  margin-bottom: 20px;
;
}

.headerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.logo {
  width: 100px;
  height: 100px;
}

.title {
  font-size: 24px;
}

.buttonGrop {
  display: flex;
}

.buttonGrop button {
  border: 1px solid lightyellow;
  margin-right: 10px;
}

.buttonGrop button {
  margin-right: 0;
}

.buttonGrop button:last-child {
  margin-right: 0;
}

.navBar {
  padding: 0 100px;
}

.navBar ul {
  display: flex;
  justify-content: space-between;
}
